# Игнорируем зависимости и сборочные файлы
node_modules/
build/
dist/

# Игнорируем конфиденциальные данные
.env
.env.local
.env.production
.env.development

# Игнорируем логи и кеши
npm-debug.log
yarn-error.log
logs/
*.log
*.log.*

# Игнорируем файлы сервера (если он на другом хостинге)
server.js
models/
uploads/
views/

# Firebase credentials (если используешь Firebase)
firebase.js

# VS Code settings
.vscode/

# Игнорируем изображения
*.png
*.jpg
*.jpeg
*.gif
*.svg
public/uploads/
